<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Nurse Profile</title>
    <link rel="stylesheet" href="{% static 'css/patient.css' %}">
</head>
<body>
    <div class="container">
        <h1>Edit Nurse Profile for {{ nurse.user.username }}</h1>

        <form method="POST">
            {% csrf_token %}
            <div class="patient-details">
                {{ form.as_p }}
            </div>
            <button type="submit">Save Changes</button>
        </form>
    </div>
</body>
</html>