<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Information</title>
    <link rel="stylesheet" href="{% static 'css/patient.css' %}">
</head>

<body>
    <div class="container">
        <h1>Patient Information</h1>
        <div class="patient-details">
            <div class="detail-item">
                <strong>Name:</strong> {{ patient.user.first_name }} {{ patient.user.last_name }}
            </div>
            <div class="detail-item">
                <strong>Email:</strong> {{ patient.user.email }}
            </div>
            <div class="detail-item">
                <strong>Gender:</strong> {{ patient.gender }}
            </div>
            <div class="detail-item">
                <strong>Age:</strong> {{ patient.age }}
            </div>
            <div class="detail-item">
                <strong>Weight:</strong> {{ patient.weight }} kg
            </div>
            <div class="detail-item">
                <strong>Height:</strong> {{ patient.height }} cm
            </div>
            <div class="detail-item">
                <strong>Blood Type:</strong> {{ patient.blood_type }}
            </div>
            <div class="detail-item">
                <strong>Diseases:</strong> {{ patient.dieases }}
            </div>
            <div class="detail-item">
                <strong>Symptoms:</strong> {{ patient.symptomps }}
            </div>
            <div class="detail-item">
                <strong>Doctor's Notes:</strong> {{ patient.notes }}
            </div>
        </div>

        <div class="buttons">
            <button class="go-back" onclick="window.history.back()">Go Back</button>
        </div>
    </div>
</body>

</html>